.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-container{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  
}
.form-container{
  width: fit-content;
}
.inner-container{
  margin: 15px 15px;
  width:fit-content;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
}
.data-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}
.container{
  width: auto;
  padding: 5px;
  text-align: center;
}
.data-table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  

}
